.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
credentials
scripts/
TODO.txt
.httr-oauth
*~
credentials_file
credentials\.tar
rdhs\.json
rdhs\.json\.tar
project_one
*\.gitignore
C:/Users/Oliver/Desktop/rdhs.json
rdhs.json
~/.rdhs.json
R/staging.R
check
revdep
